.btn {
  padding: 0.4em 0.7em;
  border-radius: 0.4em;
  text-decoration: none;
}
.btn.btn-red {
  background-color: var(--color-red);
}
.btn.btn-red:active {
  outline: 0.2em var(--color-opacity50-red) solid;
}
.btn.btn-orange {
  background-color: var(--color-orange);
}
.btn.btn-orange:active {
  outline: 0.2em var(--color-opacity50-orange) solid;
}
.btn.btn-yellow {
  background-color: var(--color-yellow);
}
.btn.btn-yellow:active {
  outline: 0.2em var(--color-opacity50-yellow) solid;
}
.btn.btn-lime {
  background-color: var(--color-lime);
}
.btn.btn-lime:active {
  outline: 0.2em var(--color-opacity50-lime) solid;
}
.btn.btn-green {
  background-color: var(--color-green);
}
.btn.btn-green:active {
  outline: 0.2em var(--color-opacity50-green) solid;
}
.btn.btn-cyan {
  background-color: var(--color-cyan);
}
.btn.btn-cyan:active {
  outline: 0.2em var(--color-opacity50-cyan) solid;
}
.btn.btn-blue {
  background-color: var(--color-blue);
}
.btn.btn-blue:active {
  outline: 0.2em var(--color-opacity50-blue) solid;
}
.btn.btn-pink {
  background-color: var(--color-pink);
}
.btn.btn-pink:active {
  outline: 2px var(--color-opacity50-pink) solid;
}
.btn.btn-purple {
  background-color: var(--color-purple);
}
.btn.btn-purple:active {
  outline: 2px var(--color-opacity50-purple) solid;
}
.btn.btn-gray {
  background-color: var(--color-gray);
}
.btn.btn-gray:active {
  outline: 2px var(--color-opacity50-gray) solid;
}
.btn.btn-white {
  background-color: var(--color-white);
}
.btn.btn-white:active {
  outline: 2px var(--color-opacity50-white) solid;
}
.btn.btn-black {
  background-color: var(--color-black);
}
.btn.btn-black:active {
  outline: 2px var(--color-opacity50-black) solid;
}
