.modal {
  border: var(--color-gray) solid 1px;
  border-radius: 0.5em;
  overflow: hidden;
}
.modal .head {
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .main {
  border-top: var(--color-gray) solid 1px;
  padding: 0.5em 1em;
}
