@keyframes modalFade {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal-overlay .modal {
  animation: modalFade 0.5s forwards;
}
.modal {
  animation: fade 0.5s forwards;
  border: var(--color-gray) solid 1px;
  border-radius: 0.5em;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}
.modal .header {
  padding: 1em 1em 0.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .main {
  border-top: var(--color-gray) solid 1px;
  padding: 0.5em 1em;
}
.modal .footer {
  border-top: var(--color-gray) solid 1px;
  padding: 0.7em 1em 1em;
}

.modal-overlay {
  z-index: 9999;
  animation: fade 0.5s forwards;
  transition: opacity 3s;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-opacity75-darkgray);
  height: 100vh;
  width: 100vw;
}
