.table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  --padding-table: 10px;
}

.table th {
  font-weight: 1000;
}
.table tr {
  border-bottom: 1px solid var(--color-opacity25-black);
}
.table th[scope="col"] {
  padding: var(--padding-table);
  text-align: start;
  border-bottom: 2px solid var(--color-black);
}
.table th[scope="row"] {
  padding: var(--padding-table);
  text-align: start;
}
.table td {
  padding: var(--padding-table);
  text-align: start;
}

.table-striped tr:nth-child(2n) {
  background-color: var(--color-opacity25-gray);
}
.table-hover tr:not(:first-child):hover {
  background-color: var(--color-opacity50-gray);
}

/** COLORS **/
.table-red {
  background-color: var(--color-red);
}
.table-red.table-striped tr:nth-child(2n) {
  background-color: var(--color-opacity25-red);
}
.table-red.table-hover tr:not(:first-child):hover {
  background-color: var(--color-opacity50-red);
}
.table-orange {
  background-color: var(--color-orange);
}
.table-orange.table-striped tr:nth-child(2n) {
  background-color: var(--color-opacity25-white);
}
.table-orange.table-hover tr:not(:first-child):hover {
  background-color: var(--color-opacity50-white);
}
.table-yellow {
  background-color: var(--color-yellow);
}
.table-yellow.table-striped tr:nth-child(2n) {
  background-color: var(--color-opacity25-white);
}
.table-yellow.table-hover tr:not(:first-child):hover {
  background-color: var(--color-opacity50-white);
}
.table-lime {
  background-color: var(--color-lime);
}
.table-lime.table-striped tr:nth-child(2n) {
  background-color: var(--color-opacity50-white);
}
.table-lime.table-hover tr:not(:first-child):hover {
  background-color: var(--color-opacity75-white);
}
.table-green {
  background-color: var(--color-green);
}
.table-green.table-striped tr:nth-child(2n) {
  background-color: var(--color-opacity10-white);
}
.table-green.table-hover tr:not(:first-child):hover {
  background-color: var(--color-opacity25-white);
}
.table-cyan {
  background-color: var(--color-cyan);
}
.table-cyan.table-striped tr:nth-child(2n) {
  background-color: var(--color-opacity25-white);
}
.table-cyan.table-hover tr:not(:first-child):hover {
  background-color: var(--color-opacity50-white);
}
.table-blue {
  background-color: var(--color-blue);
}
.table-blue.table-striped tr:nth-child(2n) {
  background-color: var(--color-opacity10-white);
}
.table-blue.table-hover tr:not(:first-child):hover {
  background-color: var(--color-opacity25-white);
}
.table-pink {
  background-color: var(--color-pink);
}
.table-pink.table-striped tr:nth-child(2n) {
  background-color: var(--color-opacity25-white);
}
.table-pink.table-hover tr:not(:first-child):hover {
  background-color: var(--color-opacity50-white);
}
.table-purple {
  background-color: var(--color-purple);
}
.table-purple.table-striped tr:nth-child(2n) {
  background-color: var(--color-opacity10-white);
}
.table-purple.table-hover tr:not(:first-child):hover {
  background-color: var(--color-opacity25-white);
}
.table-darkgray {
  background-color: var(--color-darkgray);
}
.table-darkgray.table-striped tr:nth-child(2n) {
  background-color: var(--color-opacity10-white);
}
.table-darkgray.table-hover tr:not(:first-child):hover {
  background-color: var(--color-opacity25-white);
}
.table-white {
  background-color: var(--color-white);
}
.table-white.table-striped tr:nth-child(2n) {
  background-color: var(--color-opacity25-gray);
}
.table-white.table-hover tr:not(:first-child):hover {
  background-color: var(--color-opacity50-gray);
}
.table-black {
  background-color: var(--color-black);
}
.table-black.table-striped tr:nth-child(2n) {
  background-color: var(--color-opacity25-white);
}
.table-black.table-hover tr:not(:first-child):hover {
  background-color: var(--color-opacity50-white);
}
