.table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  --padding-table: 10px;
}
.table th {
  font-weight: 1000;
}
.table tr {
  border-bottom: 1px solid var(--color-opacity25-black);
}
.table th[scope="col"] {
  padding: var(--padding-table);
  text-align: start;
  border-bottom: 2px solid var(--color-black);
}
.table th[scope="row"] {
  padding: var(--padding-table);
  text-align: start;
}
.table td {
  padding: var(--padding-table);
  text-align: start;
}
