:root {
  --color-red: #f20900;
  --color-orange: #f6621f;
  --color-yellow: #fecc2f;
  --color-lime: #00f700;
  --color-green: #3b6e2f;
  --color-cyan: #00f7f7;
  --color-blue: #144a8f;
  --color-pink: #f766ae;
  --color-purple: #3d296c;
  --color-gray: #989898;
  --color-white: #ffffff;
  --color-black: #000000;
}
